{% extends 'base.html' %}
   
{% block content %}
   <main class="in_content">                  
    <div id="stock_wrapper" style="padding-bottom: 15px">
        <div id="stock_box" class="box">
        </div>   

        <div class="date_type">
        </div>
    </div>
    <button class="news_tab"> 펼치기</button>                      
    <section class="news_wrapper" style="clear:both">          
        <header id="issue_header">
            <h3>기업을 먼저 선택해주세요.</h3>
        </header>
    </section>
</main>


{% endblock %}