{% extends 'base.html' %}
   
{% block content %}
   <main class="in_content">                  
    <div id="stock_wrapper">
        <div id="stock_box" class="box">
        </div>   

        <div class="date_type">
            <div class="date_scale">
            </div>
            <div class="news_type">
            </div>    
        </div>
    </div>
    <button class="news_tab"> 펼치기</button>                      
    <section class="news_wrapper" style="clear:both">          
        <header id="issue_header">
            <h2>기업을 먼저 선택해주세요.</h2>
        </header>
    </section>
</main>


{% endblock %}