{% extends 'base.html' %}
 
{% block content %}

   <main class="in_content">                  
    <div id="stock_wrapper">
        <div id="stock_box" class="box">
            {% for issue in issue_obj_lists %}
                <a href="{% url 'issue' stock_obj.stock_id issue.issue_id %}">{{ issue.issue }}</a>
                <br><br>
            {% endfor %}
        </div>   

        <div class="date_type">


            <div class="date_scale">
                날짜 스케일
                
                <div class="date_switch_container">
                    <div class="bar"></div> 
                    <div class="circle"></div>
                    <div class="date_type">
                        <div class="week">주</div>
                        <div class="month">월</div>
                    </div>

                </div>                          
            </div>



<!--
            <div class="news_type">
                종목 <input type="checkbox" name="news_type" value="stock_item" style="cursor: pointer;">  
                섹터 <input type="checkbox" name="news_type" value="stock_sector" style="cursor: pointer;"> 
                            이후 input 주어지면 요청필요                                 
            </div>    
-->
        </div>

    </div>

    <button class="news_tab"> 펼치기</button>                      

    <section class="news_wrapper" style="clear:both">          
        <header id="issue_header">
            <h3> {{issue_obj.issue}}</h3>
        </header>

        <div class="fact_opinion_content">

            <section class="info">
                <h4>이슈 관련 기사</h4>
                <div id="article_box" class="box">
                    <article class="articles">
                        <ul>
                            {% for news_obj in news_objs %}
                            <li><a target="_blank" rel="noopener noreferrer" href="{{news_obj.url}}">{{news_obj.title}}</a></li><br>
                            {% endfor %}
                        </ul>
                    </article> 
                </div>
            </section>

        </div>
    </section>
</main>
{% endblock %}